##############################################
# Additional Macros for Creality Ender-3 V3 KE
##############################################

[respond]

[virtual_pins]

[output_pin ADAPTIVE_BED_MESH]
pin: virtual_pin:ADAPTIVE_BED_MESH_pin
value: 1

[output_pin FULL_BED_MESH]
pin: virtual_pin:FULL_BED_MESH_pin
value: 0

[output_pin ADAPTIVE_PURGE_LINE]
pin: virtual_pin:ADAPTIVE_PURGE_LINE_pin
value: 1


[gcode_macro _ADAPTIVE_BED_MESH_ON]
description: Enable Adaptive Bed Mesh and Disable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=1
  SET_PIN PIN=FULL_BED_MESH VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _FULL_BED_MESH_ON]
description: Disable Adaptive Bed Mesh and Enable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=0
  SET_PIN PIN=FULL_BED_MESH VALUE=1
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _BED_MESH_OFF]
description: Disable Adaptive Bed Mesh and Enable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=0
  SET_PIN PIN=FULL_BED_MESH VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _ADAPTIVE_PURGE_LINE_ON]
description: Enable Adaptive Purge Line
gcode:
  SET_PIN PIN=ADAPTIVE_PURGE_LINE VALUE=1
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _ADAPTIVE_PURGE_LINE_OFF]
description: Disable Adaptive Purge Line
gcode:
  SET_PIN PIN=ADAPTIVE_PURGE_LINE VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro KAMP_BED_MESH_SETTINGS]
description: Configure Bed Mesh type
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Bed Mesh Settings"
  RESPOND TYPE=command MSG="action:prompt_text What type of bed mesh do you want to use when you start printing?"
  RESPOND TYPE=command MSG="action:prompt_button ADAPTIVE BED MESH|_ADAPTIVE_BED_MESH_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button FULL BED MESH|_FULL_BED_MESH_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button NONE|_BED_MESH_OFF|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro KAMP_PURGE_LINE_SETTINGS]
description: Configure Purge Line type
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Purge Line Settings"
  RESPOND TYPE=command MSG="action:prompt_text What type of purge line do you want to use when you start printing?"
  RESPOND TYPE=command MSG="action:prompt_button ADAPTIVE PURGE LINE|_ADAPTIVE_PURGE_LINE_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button CLASSIC PURGE LINE|_ADAPTIVE_PURGE_LINE_OFF|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro START_PRINT]
variable_prepare: 0
gcode:
  {% set bed_temp = printer.custom_macro.default_bed_temp %}
  {% set extruder_temp = printer.custom_macro.default_extruder_temp %}
  {% if 'BED_TEMP' in params|upper and (params.BED_TEMP|float) %}
    {% set bed_temp = params.BED_TEMP %}
  {% endif %}
  {% if 'EXTRUDER_TEMP' in params|upper and (params.EXTRUDER_TEMP|float) %}
    {% set extruder_temp = params.EXTRUDER_TEMP %}
  {% endif %}

  CLEAR_PAUSE
  M140 S{bed_temp}                           ; Start bed heating without waiting
  G28                                        ; Home all axes
  M190 S{bed_temp}                           ; Wait for bed temp to stabilize

  ; --- Bed mesh selection ---
  {% if printer['output_pin ADAPTIVE_BED_MESH'].value == 1 %}
    RESPOND TYPE=command MSG="Starting Adaptive Bed Mesh..."
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE                       ; Call KAMP's bed mesh macro
    BED_MESH_PROFILE SAVE=adaptive
    BED_MESH_PROFILE LOAD=adaptive
  {% elif printer['output_pin FULL_BED_MESH'].value == 1 %}
    RESPOND TYPE=command MSG="Starting Full Bed Mesh..."
    BED_MESH_CLEAR
    _BED_MESH_CALIBRATE                      ; Call Klipper's default bed mesh macro
    BED_MESH_PROFILE SAVE=default
    BED_MESH_PROFILE LOAD=default
  {% else %}
    {% if printer['bed_mesh'].profile_name %}
      RESPOND TYPE=command MSG="Loading existing bed mesh..."
      BED_MESH_PROFILE LOAD=default
    {% else %}
      RESPOND TYPE=command MSG="No bed mesh found, running full calibration..."
      BED_MESH_CLEAR
      _BED_MESH_CALIBRATE                    ; Call Klipper's default bed mesh macro
      BED_MESH_PROFILE SAVE=default
      BED_MESH_PROFILE LOAD=default
    {% endif %}
  {% endif %}

  ; --- Nozzle heat up ---
  _SMART_PARK                                ; Park nozzle near print area
  M109 S{extruder_temp}                      ; Wait for nozzle temp

  ; --- Purge line selection ---
  {% if printer['output_pin ADAPTIVE_PURGE_LINE'].value == 1 %}
    RESPOND TYPE=command MSG="Starting Adaptive Purge Line..."  
    _LINE_PURGE                              ; Call KAMP's line purge macro
  {% else %}
    RESPOND TYPE=command MSG="Starting Classic Purge Line..."
    G92 E0                                   ; Reset extruder
    G1 X-2.0 Y20 Z0.28 F5000.0               ; Move to start position
    G1 X-2.0 Y145.0 Z0.28 F1500.0 E15        ; Draw first line
    G1 X-2.6 Y145.0 Z0.28 F5000.0            ; Shift 0.6mm to the side
    G1 X-2.6 Y20 Z0.28 F1500.0 E30           ; Draw second line
    G92 E0                                   ; Reset extruder
    G1 E-3.0 F1800                           ; Retract
    G1 Z2.0 F3000                            ; Lift nozzle
    G1 E0.0 F1800                            ; Un-retract to prime tip
  {% endif %}

  SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
  G92 E0                                     ; Reset extruder


[gcode_macro END_PRINT]
gcode:
  {% set max_z = printer.toolhead.axis_maximum.z %}
  {% set cur_z = printer.toolhead.position.z %}
  {% set lift_z = [cur_z + 10, max_z] | min %}   ; Lift 10mm, don't exceed max Z

  G91                                            ; Relative positioning
  G1 E-2 F2700                                   ; Retract filament
  G1 Z{lift_z - cur_z} F600                      ; Lift nozzle
  G90                                            ; Absolute positioning
  G1 X5 Y215 F5000                               ; Move nozzle aside, present bed
  M104 S0                                        ; Turn off hotend
  M140 S0                                        ; Turn off bed
  M106 S0                                        ; Turn off part fan
  M84                                            ; Disable motors
